html {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  background-color: #F0FBFF;
  display: flex;
  flex-direction: column;
}

.App {
  flex-grow: 1;
  padding: 5%;
}

img#logo {
  width: 100px;
  height: auto;
  margin-right: 30px;
}

h1.title {
  font-family: "Bungee Shade", sans-serif;
  color: #4B4B4B;
  font-size: 60px;
  display: flex;
  align-items: center;
}
